# Compiled object files
*.o

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib

# Build output files
polished_save_patcher.html
polished_save_patcher.js
polished_save_patcher.wasm
polished_save_patcher.data
polished_save_patcher.mem
polished_save_patcher.worker.js
build/
*.sym.gz
*sym.filtered

# Emscripten cache directory
emscripten_cache/

# Temporary files
*.tmp
*.log
*.swp
*.bak

# Directory for temporary files
tmp/
temp/

# macOS files
.DS_Store

# Windows files
Thumbs.db

## Visual Studio Code-specific
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Visual Studio cache files
.vs/
*.pdb

# Visual Studio (not used; prefer VS Code)
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
x64/
polished.*/

# Visual Studio Code
.history/
